<ion-row>
  <ion-col size="6">
    <dashboard-card-year [yearsWithMultipleWinners]="yearsWithMultipleWinners"></dashboard-card-year>
  </ion-col>

  <ion-col size="6">
    <dashboard-card-studio [studiosWithWinners]="studiosWithWinners"></dashboard-card-studio>
  </ion-col>

  <ion-col size="6">
    <dashboard-card-producer [intervalProducers]="intervalProducers"></dashboard-card-producer>
  </ion-col>

  <ion-col size="6">
   <dashboard-card-list></dashboard-card-list> 
  </ion-col> 

</ion-row>