<ion-card class="ion-padding">
  <ion-title class="ion-no-padding" color="dark">
  <div class="ion-text-wrap">
    Top 3 studios with winners
  </div>
  </ion-title>
  <ion-grid class="ion-no-padding">
    <ion-row class="gray-color">
      <ion-col>
        <ion-card-subtitle class="custom-padding" color="dark">
          Name
        </ion-card-subtitle>
      </ion-col>
      <ion-col>
        <ion-card-subtitle class="custom-padding" color="dark">
          Win Count
        </ion-card-subtitle>
      </ion-col>
    </ion-row>

    <div *ngIf="studiosWithWinners.length">
      <ion-row *ngFor="let item of studiosWithWinners" class="value_lines">
        <ion-col class="custom-padding studio-name">
          {{item.name}}
        </ion-col>
        <ion-col class="custom-padding studio-win-count">
          {{item.winCount}}
        </ion-col>
      </ion-row>      
    </div>

    <div *ngIf="!studiosWithWinners.length">
      <ion-row *ngFor="let item of [0, 1, 2]" class="value_lines">
        <ion-col class="custom-padding">
          <skeleton></skeleton>
        </ion-col>
        <ion-col class="custom-padding">
          <skeleton></skeleton>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-card>